{% extends 'mailing_service/base.html' %}
{% block content %}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Почта</th>
                <th>Имя клиента</th>
                <th>Комментарий</th>
            </tr>
        </thead>
        <tbody>
            {% for log in client_list %}
                <tr>
                    <td>{{ client_list. }}</td>
                    <td>{{ log.client }}</td>
                    <td>{{ log.server_response }}</td>
                    <td>{{ log.status }}</td>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
