

<div class="card-body">
    <form method="get">
        <label for="status">Фильтр по статусу:</label>
        {% csrf_token %}
        {{ filter_form }}
        <button type="submit">Применить</button>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Статус рассылки</th>
                <th>Старт рассылки</th>
                <th>Финиш рассылки</th>
                <th>Периодичность рассылки</th>
                <th>Логи отправки</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for mailing in mailing_list %}
                <tr>
                    <td><a href="{% url 'mailing_service:mailing_upd' mailing.pk %}">{{ mailing.title }}</a></td>
                    <td>{{ mailing.get_mailing_status_display }}</td>
                    <td>{{ mailing.mailing_start_time }}</td>
                    <td>{{ mailing.mailing_end_time }}</td>
                    <td>{{ mailing.get_mailing_period_display }}</td>
                    <td><a href="{% url "mailing_service:mailing_log" %}" class="btn btn-outline-primary">Логи</a></td>
                    <td><a href="{% url 'mailing_service:mailing_del' mailing.pk %}" class="btn btn-primary">Удалить</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

